  .color-block {
    display: inline-block;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    font-size: 24px;
    font-weight: bold;
    margin-right: 10px;
  }

  .red {
    background-color: rgb(192, 0, 0);
    color: white;
  }

  .green {
    background-color: rgb(0, 120, 0);
    color: white;
  }

  .blue {
    background-color: rgb(0, 0, 250);
    color: white;
  }

  .combined {
    background-color: rgb(192, 120, 250);
    color: white;
  }